---
import { Icon } from "astro-icon";
import Layout from "../layouts/Layout.astro";
import "../styles/utils.css";
import volcanic from "../assets/images/portfolio/volcanic.png";
import kuvira from "../assets/images/portfolio/kuvira.png";
import { Image } from "astro:assets";
---

<Layout title="Hi, I'm Ian!">
  <main class="space-y-12">
    <h1 class="text-4xl mb-4 font-medium relative">
      <span class="sr-only">Hi, I'm Ian!</span>
      <span class="text-wrapper relative inline-block overflow-hidden">
        <span class="letters transform transition-transform not-sr-only"
          >Hi, I'm Ian!</span
        >
      </span>
    </h1>

    <section>
      <h2 class="text-xl">I'm a Web Developer 👨‍💻</h2>
      <a
        href="https://www.wafflemooncake.dev/cv"
        target="_blank"
        class="hover:underline"
        >Check out my CV! <Icon
          name="gg:external"
          class="w-4 align-top inline"
        /></a
      >
    </section>

    <section class="space-y-2">
      <h2 class="text-xl">Things I know</h2>
      <ul role="list">
        <li class="list-disc">
          Vue (2 & 3) <Icon name="logos:vue" class="w-4 h-4 inline" />
        </li>
        <li class="list-disc">
          React <Icon name="logos:react" class="w-4 h-4 inline" />
        </li>
        <li class="list-disc">
          Astro <Icon name="simple-icons:astro" class="w-4 h-4 inline" />
        </li>
        <li class="list-disc">
          Typescript <Icon
            name="simple-icons:typescript"
            class="w-4 h-4 inline"
          />
        </li>
        <li class="list-disc">
          Tailwind <Icon
            name="vscode-icons:file-type-tailwind"
            class="w-4 h-4 inline"
          />
        </li>
        <li class="list-disc">
          State Management (e.g. Redux & Pinia)
          <Icon name="logos:redux" class="w-4 h-4 inline" />
        </li>
        <li class="list-disc">
          Firebase <Icon name="logos:firebase" class="w-4 h-4 inline" />
        </li>
        <li class="list-disc">
          And bits of Rails, Wix, Python and AWS - anything to get stuff done!
        </li>
      </ul>
    </section>

    <section class="space-y-2">
      <h2 class="text-xl">Stuff I've made</h2>
      <ul role="list" class="space-y-2">
        <li class="list-none">
          <a
            href="https://volcanic.wafflemooncake.dev"
            class="grid grid-cols-3 gap-4 group"
            target="_blank"
          >
            <div class="col-span-2">
              <h3 class="text-lg group-hover:underline">
                Volcanic <Icon
                  name="gg:external"
                  class="w-4 align-top inline group-hover:-translate-y-0.5 transition-transform"
                />
              </h3>
              <p class="text-sm">
                An interview test given by a company that specializes in
                recruitment platforms in 2020. Done in plain HTML/CSS/JS.
                Libraries used: SlickJS & Bootstrap 4. No fancy frameworks here!
              </p>
            </div>
            <Image
              src={volcanic}
              class="w-64 scale-95 brightness-95 aspect-video object-cover group-hover:scale-100 transition group-hover:brightness-100"
              width={volcanic.width}
              height={volcanic.height}
              alt="Screenshot of the Volcanic HR website"
            />
          </a>
        </li>
        <li class="list-none">
          <a
            href="https://store.wafflemooncake.dev/"
            class="grid grid-cols-3 gap-4 group"
            target="_blank"
          >
            <div class="col-span-2">
              <h3 class="text-lg group-hover:underline">
                Kuvira <Icon
                  name="gg:external"
                  class="w-4 align-top inline group-hover:-translate-y-0.5 transition-transform"
                />
              </h3>
              <p class="text-sm">
                A quick frontend interview test from back in 2020. Written in
                plain HTML/CSS/JS. Libraries used Bootstrap 4. No fancy
                frameworks here!
              </p>
            </div>
            <Image
              src={kuvira}
              class="w-64 scale-95 brightness-95 aspect-video object-cover group-hover:scale-100 transition group-hover:brightness-100"
              width={kuvira.width}
              height={kuvira.height}
              alt="Screenshot of the Kuvira storefront"
            />
          </a>
        </li>
        <li class="list-none">
          <div class="grid grid-cols-3 gap-4">
            <div class="col-span-2">
              <h3 class="text-lg">???</h3>
              <p class="text-sm">
                I know the above sites are quite old, but I'm working on more at
                the moment. If you'd like to assess my skills, feel free to <a
                  href="mailto:hello@wafflemooncake.dev"
                  target="_blank"
                  class="text-accent hover:underline">drop me an email!</a
                >
              </p>
            </div>
            <div
              class="rounded-lg border-gray-600 w-60 aspect-video border-dashed border-4 bg-gray-400"
            >
              <Icon name="octicon:plus-16" class="h-full mx-auto" />
            </div>
          </div>
        </li>
      </ul>
    </section>

    <section class="space-y-2">
      <h2 class="text-xl">Find or contact me at these places:</h2>
      <ul role="list" class="flex gap-2">
        <li
          class="p-1 transition duration-300 hover:bg-gray-300 rounded-lg group"
        >
          <a href="mailto:hello@wafflemooncake.dev" target="_blank">
            <span class="sr-only">Email</span>
            <Icon
              name="ic:outline-email"
              class="w-8 align-top transition duration-300 inline group-hover:text-black"
            />
          </a>
        </li>
        <li
          class="p-1 transition duration-300 hover:bg-gray-300 rounded-lg group"
        >
          <a href="https://www.linkedin.com/in/ianteoyy" target="_blank">
            <span class="sr-only">LinkedIn</span>
            <Icon
              name="mdi:linkedin"
              class="w-8 align-top transition duration-300 inline group-hover:text-black"
            />
          </a>
        </li>
        <li
          class="p-1 transition duration-300 hover:bg-gray-300 rounded-lg group"
        >
          <a href="https://github.com/ianteoyy" target="_blank">
            <span class="sr-only">Github</span>
            <Icon
              name="jam:github"
              class="w-8 align-top transition duration-300 inline group-hover:text-black"
            />
          </a>
        </li>
      </ul>
    </section>
  </main>
</Layout>

<script>
  import anime from "animejs";
  const headingText = document.querySelector("h1 .letters")!;
  headingText.innerHTML = headingText.textContent!.replace(
    /\S/g,
    "<span class='letter inline-block'>$&</span>"
  );

  const textAnimation = anime
    .timeline({ loop: false })
    .add({
      targets: "h1 .letter",
      translateY: ["1.1em", 0],
      translateX: ["0.55em", 0],
      translateZ: 0,
      rotateZ: [180, -5],
      duration: 400,
      easing: "easeOutElastic(1, .8)",
      delay: (el, i) => 50 * i,
    })
    .add({
      targets: "h1 .letter",
      rotateZ: [-5, 0],
      easing: "easeOutExpo",
    })
    .add({
      targets: "h1 .letter:last-of-type",
      rotateZ: [0, 15],
      easing: "easeOutExpo",
      delay: -750,
    });
  headingText.addEventListener("mouseenter", () => {
    textAnimation.play();
  });
</script>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    line-height: 1.6;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

  .letter {
    transform-origin: 0 100%;
  }

  .letter:last-of-type {
    transform-origin: bottom right;
  }
</style>
